

<h2>Linear Regression</h2>

<h3>產生資料：</h3>
<label>Beta0 :</label>
<input type="number" [(ngModel)]='Beta0'>
<label>Beta1 :</label>
<input type="number" [(ngModel)]='Beta1'>
<h4>Y = {{Beta0?Beta0:"Beta0"}} +  {{Beta1?Beta1:"Beta1"}} * X </h4>
<p>產生幾個模擬資料：</p>
<input type="number" (change)="generateRandomNumber($event.target.value)">
<button (click)='Training()' *ngIf="traning_set.x.length>0">開始訓練</button>
<h3>預測值： {{prediction}}</h3>
<input type="number" (change)="predictValue($event.target.value)">
<p></p>
<p></p>
<p></p>
<p></p>
<hr>
<button (click)='TEST()'>TEST</button>
<hr>

